@media (min-width: 768px) {
  .quizzes-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
  }
  .quiz-moderate--not-moderated {
    height: 40px;
  }
  .quiz-moderate--not-moderated {
    height: 60px;
  }
}
@media (min-width: 1024px) {
  .header {
    height: 64px;
  }
  .header .wrapper {
    justify-content: space-between;
    width: 100%;
  }
  .header__button {
    font-size: 18px;
    width: 119px;
    height: 44px;
    padding: 13px 20px 13px 20px;
  }
  .header__link {
    font-size: 40px;
    margin-left: 15px;
  }
  .header__nav {
    display: block;
    width: 669px;
  }
  .header__nav-item {
    font-weight: bold;
    font-size: 22px;
    color: #d13980;
    text-decoration: none;
    cursor: pointer;
  }
  .header__nav-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__avatar {
    width: 40px;
    height: 40px;
  }
  .header .button__icon {
    width: 15px;
    height: 15px;
  }
  .header .hamburger-button {
    display: none;
  }
  .main {
    display: flex;
    padding: 0;
  }
  .main .container {
    padding: 24px 24px 16px 24px;
    max-width: 1680px;
  }
  .main__title {
    font-size: 22px;
    font-weight: 700;
  }
  .main__btn-sort {
    display: none;
  }
  .desktop-sidebar {
    display: block;
    position: relative;
    width: 285px;
    height: auto;
    background-color: #2e2e54;
  }
  .desktop-sidebar__section {
    position: fixed;
  }
  .desktop-sidebar__nav-list {
    margin-top: 24px;
    padding: 0;
    list-style: none;
  }
  .desktop-sidebar__nav-list li:nth-child(5) {
    position: relative;
  }
  .desktop-sidebar__nav-list li:nth-child(5)::after {
    content: "";
    position: absolute;
    left: 0;
    top: 41px;
    margin: 12px 0 12px 16px;
    display: block;
    height: 1px;
    width: 90%;
    background-color: #444265;
  }
  .desktop-sidebar__icon {
    width: 16px;
    height: 16px;
    margin-right: 12px;
    fill: #d2d4d8;
  }
  .desktop-sidebar__nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #d2d4d8;
    padding: 8px 0 8px 0;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    cursor: pointer;
  }
  .desktop-sidebar__nav-link--active {
    color: #ffffff;
  }
  .desktop-sidebar__nav-item {
    padding-left: 16px;
    display: flex;
    align-items: center;
    margin: 4px 0 4px 0;
  }
  .desktop-sidebar__nav-item--active {
    background-color: rgba(209, 57, 128, 0.1);
    border-left: 4px solid #d13980;
    border-radius: 0 6px 6px 0;
    padding-left: 12px;
  }
  .desktop-sidebar__nav-item--active .desktop-sidebar__nav-link {
    color: #ffffff;
  }
  .desktop-sidebar__nav-item--active .desktop-sidebar__icon {
    fill: #d13980;
  }
  .desktop-sidebar__nav-item-after-line {
    margin-top: 28px;
  }
  .user-buttons-aside {
    margin-top: 31px;
  }
  .user-buttons-aside__minimize-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .user-buttons-aside__minimize {
    position: relative;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
  }
  .user-buttons-aside__minimize:before {
    content: "";
    position: absolute;
    background-color: #69748c;
    width: 128px;
    height: 1px;
    left: -140px;
  }
  .user-buttons-aside__minimize svg {
    width: 16px;
    height: 16px;
  }
  .user-buttons-aside__minimize span {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    color: #69748c;
    text-decoration: none;
  }
  .user-buttons-aside__expands-and-exit {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 7px;
  }
  .user-buttons-aside__expands {
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    justify-content: center;
    border: none;
    height: 17px;
    margin-right: 10px;
    cursor: pointer;
  }
  .user-buttons-aside__expands svg {
    width: 16px;
    height: 16px;
  }
  .user-buttons-aside__exit {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #d2d4d8;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 400;
    cursor: pointer;
  }
  .breadcrumb--not-moderated {
    display: block;
  }
  .quizzes-grid {
    margin-top: 17px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    padding-bottom: 0;
  }
  .quiz-item {
    margin-top: 0;
    padding: 16px;
  }
  .quiz-item__content {
    margin-left: 12px;
  }
  .quiz-btns {
    margin-top: 16px;
  }
  .quiz-btns__btn-attach {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
  .quiz-btns__icon-attach {
    width: 10px;
    height: 10px;
  }
  .quiz-btns__icon-comment-received {
    display: none;
    width: 12px;
    height: 12px;
  }
  .quiz-btns__icon-comment {
    display: block;
    width: 12px;
    height: 12px;
    fill: rgba(46, 46, 84, 0.4);
  }
  .quiz-btns__btn-comment {
    cursor: pointer;
    height: 32px;
  }
  .quiz-btns__btn-comment--active .quiz-btns__icon-comment {
    display: none;
  }
  .quiz-btns__btn-comment--active .quiz-btns__icon-comment-received {
    display: block;
  }
  .quiz-btns__btn-comment--active .quiz-btns__text {
    color: #2e2e54;
  }
  .quiz-btns__btn-start-moderation {
    height: 32px;
    padding: 8px 21px;
    font-size: 11px;
  }
  .dashboard-container {
    display: flex;
    margin-top: 17px;
  }
  .quiz-moderate {
    width: 321px;
  }
  .quiz-moderate--not-moderated {
    align-items: start;
    height: 40px;
  }
  .quiz-moderate__initials {
    display: none;
  }
  .quiz-moderate__initials-avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .quiz-btns__btn-comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .quiz-btns__text {
    font-weight: 400;
    font-size: 11px;
    color: rgba(46, 46, 84, 0.4);
    margin-left: 4px;
    display: block;
  }
  .quiz-btns__text--active {
    color: #2e2e54;
  }
  .dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .dashboard-header__list {
    display: flex;
  }
  .dashboard-header__item {
    margin-right: 24px;
  }
  .dashboard-header__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #d13980;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    cursor: pointer;
  }
  .dashboard-header__link-img {
    margin-left: 4px;
  }
  .quiz-item__image--desktop-card {
    border-radius: 6px;
  }
  .quiz-meta__icon-star {
    fill: #d2d4d8;
  }
  .quiz-meta__icon-star--active {
    fill: #d13980;
  }
  .dashboard-content-layout__container {
    display: flex;
  }
  .dashboard-content-layout__table-btn, .dashboard-content-layout__card-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
  }
  .dashboard-content-layout__table-btn {
    margin-right: 16px;
  }
  .dashboard-content-layout__table-btn-icon {
    fill: #69748c;
  }
  .dashboard-content-layout__table-btn-icon--active {
    fill: #d13980;
  }
  .dashboard-content-layout__card-btn-icon {
    fill: #69748c;
  }
  .dashboard-content-layout__card-btn-icon--active {
    fill: #d13980;
  }
  .footer {
    display: none;
  }
  .user-sidebar__footer--desktop {
    margin-top: 444px;
  }
}
@media (min-width: 1280px) {
  .header__link {
    margin-left: -110px;
  }
  .desktop-sidebar {
    width: 275px;
  }
  .quizzes-grid {
    grid-row-gap: 25px;
    grid-column-gap: 25px;
  }
  .dashboard-header__link {
    font-size: 14px;
  }
  .quiz-btns__icon-attach {
    width: 12px;
    height: 12px;
  }
  .quiz-btns__icon-comment-received {
    width: 14px;
    height: 14px;
  }
  .quiz-btns__text {
    font-size: 14px;
  }
  .quiz-btns__btn-start-moderation {
    font-size: 14px;
  }
}
@media (min-width: 1440px) {
  .header__link {
    margin-left: -188px;
  }
  .desktop-sidebar {
    width: 270px;
  }
  .quizzes-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 16px;
    grid-column-gap: 16px;
  }
}
@media (min-width: 1919px) {
  .main {
    height: 100vh;
  }
  .header__link {
    margin-left: -447px;
  }
  .desktop-sidebar {
    width: 240px;
  }
  .quizzes-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 16px;
    grid-column-gap: 16px;
  }
}

/*# sourceMappingURL=adaptive.css.map */
