*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.overflow-hidden {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.header {
  height: 54px;
  background-color: #ffffff;
  padding: 0 16px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 285px;
  margin-left: 19px;
}
.header__avatar {
  width: 32px;
  height: 32px;
}
.header__button {
  display: flex;
  padding: 9px 12px;
  justify-content: space-between;
  align-items: center;
  width: 85px;
  height: 32px;
  background-color: #d13980;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}
.header__link {
  font-weight: bold;
  font-size: 30px;
  color: #d13980;
  text-decoration: none;
  cursor: pointer;
}
.header__nav {
  display: none;
}
.header__link-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger-button {
  width: 24px;
  height: 24px;
  padding: 5px 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.hamburger-line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #2e2e54;
}

.mobile-sidebar {
  position: fixed;
  top: 54px;
  left: -100%;
  width: 100%;
  height: 100%;
  padding: 16px 16px 0 0;
  background-color: #2e2e54;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}
.mobile-sidebar--open {
  left: 0;
}
.mobile-sidebar__header {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 16px;
}
.mobile-sidebar__close-btn {
  width: 24px;
  height: 24px;
  background: none;
  border: none;
}
.mobile-sidebar__nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.mobile-sidebar__nav-list li:nth-child(5)::after, .mobile-sidebar__nav-list li:nth-child(6)::after {
  content: "";
  margin: 12px 0 12px 16px;
  display: block;
  height: 1px;
  background-color: #444265;
}
.mobile-sidebar__nav-item--active {
  background-color: rgba(209, 57, 128, 0.1);
  border-left: 4px solid #d13980;
  padding-left: 0;
}
.mobile-sidebar__nav-item--active .mobile-sidebar__link {
  color: #d13980;
}
.mobile-sidebar__nav-item--active .mobile-sidebar__icon {
  fill: #d13980;
}
.mobile-sidebar__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #d2d4d8;
  padding: 8px 0 8px 0;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  margin: 4px 0 4px 0;
  padding-left: 16px;
}
.mobile-sidebar__link--active {
  padding-left: 12px;
}
.mobile-sidebar__icon {
  width: 16px;
  height: 16px;
  margin-right: 12px;
  fill: #d2d4d8;
}

.main {
  background-color: #1e1e3e;
  padding: 21px 16px;
}
.main__title-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.main__title {
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  margin: 0;
}
.main__btn-sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0);
  color: #d13980;
  letter-spacing: -2%;
  text-decoration: none;
  padding: 9px 12px;
  border: #d13980 1px solid;
  border-radius: 6px;
}
.main__btn-sort span {
  margin-left: 8px;
}
.main__btn-icon {
  width: 10px;
  height: 10px;
  margin: 2px;
}

.desktop-sidebar {
  display: none;
}

.dashboard-container {
  display: none;
}

.quiz-item {
  display: flex;
  padding: 12px;
  margin-top: 16px;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
}
.quiz-item__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.quiz-item__image-container {
  width: 99px;
  height: 56px;
}
.quiz-item__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.quiz-item__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8px;
  width: calc(100% - 99px);
}
.quiz-item__title {
  font-weight: 700;
  font-size: 14px;
  color: #2e2e54;
  margin: 0;
  line-height: 1.3;
}

.quiz-meta__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
  height: 18px;
  align-items: center;
  justify-content: space-between;
}
.quiz-meta__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quiz-meta__details--calendar {
  width: 85px;
  height: 16px;
  padding: 2px 0;
}
.quiz-meta__container-statistics-stars {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 144px;
  height: 18px;
}
.quiz-meta__details--statistics {
  width: 32px;
}
.quiz-meta__icon-calendar {
  width: 14px;
  height: 14px;
}
.quiz-meta__icon--statistics {
  width: 14.6px;
  height: 12px;
  margin: 4px 1.4px;
}
.quiz-meta__details--stars {
  width: 88px;
}
.quiz-meta__icon-star {
  width: 16px;
  height: 16px;
}
.quiz-meta__text {
  font-size: 12px;
  color: #2e2e54;
}
.quiz-meta__number {
  font-size: 14px;
  color: #2e2e54;
}

.breadcrumb {
  width: 179px;
  height: 16px;
}
.breadcrumb--not-moderated {
  display: none;
}
.breadcrumb__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
  margin: 0;
  margin-top: 8px;
  list-style: none;
}
.breadcrumb__list-item {
  position: relative;
  display: block;
  cursor: pointer;
}
.breadcrumb__list-item:not(:last-child)::after {
  content: "/";
  position: absolute;
  font-family: Arial, sans-serif;
  font-weight: 400;
  line-height: 1.3;
  font-size: 12px;
  color: #2e2e54;
  margin: 2.5px 4px;
}
.breadcrumb__link {
  font-size: 12px;
  font-weight: 400;
  color: #2e2e54;
  line-height: 1.3;
  text-decoration: none;
}

.quiz-moderate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  height: 40px;
}
.quiz-moderate--not-moderated {
  height: 20px;
}
.quiz-moderate__container-progress {
  display: flex;
  flex-direction: column;
}
.quiz-moderate__item-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 10px;
  font-weight: 700;
  color: #d08939;
  margin: 0;
  padding: 4px 12px;
  border-radius: 50px;
  background-color: rgba(208, 137, 57, 0.25);
}
.quiz-moderate__item-progress--not-moderated {
  background-color: rgba(59, 125, 201, 0.25);
  color: #3b7dc9;
}
.quiz-moderate__start {
  margin: 0;
  font-size: 12px;
  line-height: 1.3;
  font-weight: 400;
  color: #69748c;
  margin-top: 3px;
}
.quiz-moderate__start--not-moderated {
  display: none;
}
.quiz-moderate__date {
  color: #2e2e54;
}
.quiz-moderate__container-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 139px;
}
.quiz-moderate__container-name--not-moderated {
  display: none;
}
.quiz-moderate__circle {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #2e2e54;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz-moderate__initials {
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  line-height: 1;
}
.quiz-moderate__name {
  font-size: 14px;
  font-weight: 700;
  color: #2e2e54;
  line-height: 1.3;
  margin: 0;
}
.quiz-moderate__role {
  font-size: 12px;
  font-weight: 400;
  color: #69748c;
  line-height: 1.3;
  margin: 0;
}

.quiz-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.quiz-btns__text {
  display: none;
}
.quiz-btns__btn-attach, .quiz-btns__btn-comment {
  padding: 13.1px;
  border: 1px solid rgb(210, 212, 216);
  border-radius: 6px;
}
.quiz-btns__btn-comment {
  padding: 12.5px;
}
.quiz-btns__icon-attach {
  width: 14px;
  height: 14px;
}
.quiz-btns__icon-comment {
  width: 15.33px;
  height: 15.33px;
}
.quiz-btns__btn-start-moderation {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: #d13980;
  color: #ffffff;
  padding: 15px 50px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
}

.footer {
  position: fixed;
  background-color: #2e2e54;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-mobile-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.footer-mobile-nav__item {
  padding: 10px 0 8px 0;
  width: 100%;
}
.footer-mobile-nav__item--active {
  background-color: rgba(209, 57, 128, 0.1);
  border-top: #d13980 solid 2px;
}
.footer-mobile-nav__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #d2d4d8;
  font-weight: 700;
  font-size: 8px;
  line-height: 1.3;
  letter-spacing: 2%;
}
.footer-mobile-nav__button {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.footer-mobile-nav__icon {
  width: 16px;
  height: 16px;
  fill: #d2d4d8;
}
.footer-mobile-nav__icon--active {
  fill: #d13980;
}
.footer-mobile-nav__text {
  margin-top: 4px;
}

.user-sidebar__footer {
  margin-left: 16px;
  margin-top: 223px;
}
.user-info {
  display: flex;
  width: 122px;
  height: 34px;
}
.user-info__avatar {
  width: 32px;
  height: 32px;
}
.user-info__details {
  margin-left: 16px;
  height: 16px;
}
.user-info__name {
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  line-height: 1.3;
}
.user-info__role {
  font-weight: 400;
  font-size: 12px;
  color: #d2d4d8;
  line-height: 1.3;
}
.user-ratings {
  margin-top: 20px;
}
.user-ratings__author-img, .user-ratings__user-img {
  height: 12px;
  width: 12px;
}
.user-ratings__author-text, .user-ratings__user-text {
  margin-left: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  color: #d2d4d8;
}
.user-ratings__author-container, .user-ratings__user-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 163px;
}
.user-ratings__author-container span, .user-ratings__user-container span {
  margin-left: 8px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.3;
  color: #ffffff;
}
.user-ratings__user-container {
  margin-top: 8px;
  width: 194px;
}

/*# sourceMappingURL=base.css.map */
