@import "./variables.scss";

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
}
ul,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
}

.overflow-hidden {
	overflow: hidden;
}
.container {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}
.header {
	height: 54px;
	background-color: $white-color;
	padding: 0 16px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 285px;
		margin-left: 19px;
	}
	&__avatar {
		width: 32px;
		height: 32px;
	}
	&__button {
		display: flex;
		padding: 9px 12px;
		justify-content: space-between;
		align-items: center;
		width: 85px;
		height: 32px;
		background-color: $primary-color;
		border: none;
		border-radius: 6px;
		color: $white-color;
		font-family: Arial, sans-serif;
		font-weight: 400;
		font-size: 14px;
		cursor: pointer;
	}
	&__link {
		font-weight: bold;
		font-size: 30px;
		color: $primary-color;
		text-decoration: none;
		cursor: pointer;
	}
	&__nav {
		display: none;
	}
	&__link-avatar {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.hamburger {
	&-button {
		width: 24px;
		height: 24px;
		padding: 5px 2px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		cursor: pointer;
	}
	&-line {
		display: block;
		width: 100%;
		height: 2px;
		background-color: $primary-blue;
	}
}
.mobile-sidebar {
	position: fixed;
	left: -100%;
	padding: 16px 16px 16px 0;
	background-color: $primary-blue;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
	transition: left 0.3s ease-in-out;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 1000;
	&--open {
		left: 0;
		right: 0; 
		bottom: 0; 
	}
	&__header {
		display: flex;
		justify-content: flex-end;
		padding-bottom: 16px;
	}
	&__close-btn {
		width: 24px;
		height: 24px;
		background: none;
		border: none;
	}
	&__nav-list {
		list-style: none;
		padding: 0;
		margin: 0;
		& li:nth-child(5),
		& li:nth-child(6) {
			&::after {
				content: "";
				margin: 12px 0 12px 16px;
				display: block;
				height: 1px;
				background-color: #444265;
			}
		}
	}
	&__nav-item {
		&--active {
			padding-left: 0;
			.mobile-sidebar__link--active {
				color: $white-color;
				padding-left: 12px;
				background-color: $active-bg-color;
				border-left: 4px solid $primary-color;
			}
			.mobile-sidebar__icon {
				fill: $primary-color;
			}
		}
	}
	&__link {
		display: flex;
		align-items: center;
		text-decoration: none;
		color: $border-color;
		padding: 8px 0 8px 0;
		font-family: Arial, sans-serif;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.3;
		margin: 4px 0 4px 0;
		padding-left: 16px;
	}
	&__icon {
		width: 16px;
		height: 16px;
		margin-right: 12px;
		fill: $border-color;
	}
}
.main {
	background-color: #1e1e3e;
	padding: 21px 16px;
	&__title-action {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
	&__title {
		font-weight: 700;
		font-size: 18px;
		color: $white-color;
		margin: 0;
	}
	&__btn-sort {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-family: Arial, sans-serif;
		font-weight: 400;
		font-size: 14px;
		background-color: rgba(255, 255, 255, 0);
		color: $primary-color;
		letter-spacing: -2%;
		text-decoration: none;
		padding: 9px 12px;
		border: $primary-color 1px solid;
		border-radius: 6px;
		span {
			margin-left: 8px;
		}
	}
	&__btn-icon {
		width: 10px;
		height: 10px;
		margin: 2px;
	}
}
.desktop-sidebar {
	display: none;
}
.dashboard-container {
	display: none;
}
.quizzes-grid {
	padding-bottom: 40px;
}
.quiz-item {
	display: flex;
	padding: 12px;
	margin-top: 16px;
	flex-direction: column;
	background-color: $white-color;
	border: 1px solid #e0e0e0;
	border-radius: 6px;
	overflow: hidden;
	width: 100%;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	&__image-container {
		width: 99px;
		height: 56px;
	}
	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: 8px;
		width: calc(100% - 99px);
	}
	&__title {
		font-weight: 700;
		font-size: 14px;
		color: $primary-blue;
		margin: 0;
		line-height: 1.3;
	}
}
.quiz-meta {
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		margin-top: 12px;
		height: 18px;
		align-items: center;
		justify-content: space-between;
	}
	&__details {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__details--calendar {
		width: 85px;
		height: 16px;
		padding: 2px 0;
	}
	&__container-statistics-stars {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 144px;
		height: 18px;
	}
	&__details--statistics {
		width: 32px;
	}
	&__icon-calendar {
		width: 14px;
		height: 14px;
	}
	&__icon--statistics {
		width: 14.6px;
		height: 12px;
		margin: 4px 1.4px;
	}
	&__details--stars {
		width: 88px;
	}
	&__icon-star {
		width: 16px;
		height: 16px;
		fill: $border-color;
	}
	&__text {
		font-size: 12px;
		color: $primary-blue;
	}
	&__number {
		font-size: 14px;
		color: $primary-blue;
	}
}
.breadcrumb {
	width: 179px;
	height: 16px;
	&--not-moderated {
		display: none;
	}
	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-left: 0;
		margin: 0;
		margin-top: 8px;
		list-style: none;
	}
	&__list-item {
		position: relative;
		display: block;
		cursor: pointer;
		&:not(:last-child) {
			&::after {
				content: "/";
				position: absolute;
				font-family: Arial, sans-serif;
				font-weight: 400;
				line-height: 1.3;
				font-size: 12px;
				color: $primary-blue;
				margin: 2.5px 4px;
			}
		}
	}
	&__link {
		font-size: 12px;
		font-weight: 400;
		color: $primary-blue;
		line-height: 1.3;
		text-decoration: none;
	}
}
.quiz-moderate {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 12px;
	height: 40px;
	&--not-moderated {
		height: 20px;
	}
	&__container-progress {
		display: flex;
		flex-direction: column;
	}
	&__item-progress {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: Arial, sans-serif;
		font-size: 10px;
		font-weight: 700;
		color: $orange-color;
		margin: 0;
		padding: 4px 12px;
		border-radius: 50px;
		background-color: rgba(208, 137, 57, 0.25);
		&--not-moderated {
			background-color: rgba(59, 125, 201, 0.25);
			color: $blue-color;
		}
	}
	&__start {
		margin: 0;
		font-size: 12px;
		line-height: 1.3;
		font-weight: 400;
		color: #69748c;
		margin-top: 3px;
		&--not-moderated {
			display: none;
		}
	}
	&__date {
		color: $primary-blue;
	}
	&__container-name {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 139px;
		&--not-moderated {
			display: none;
		}
	}
	&__circle {
		height: 24px;
		width: 24px;
		border-radius: 50%;
		background-color: $primary-blue;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__initials-avatar {
		display: none;
	}
	&__initials {
		font-size: 12px;
		font-weight: 700;
		color: $white-color;
		text-align: center;
		line-height: 1;
	}
	&__name {
		font-size: 14px;
		font-weight: 700;
		color: $primary-blue;
		line-height: 1.3;
		margin: 0;
	}
	&__role {
		font-size: 12px;
		font-weight: 400;
		color: #69748c;
		line-height: 1.3;
		margin: 0;
	}
}
.quiz-btns {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 12px;
	&__text {
		display: none;
	}
	&__btn-attach,
	&__btn-comment {
		padding: 13.1px;
		border: 1px solid rgba(210, 212, 216, 1);
		border-radius: 6px;
		background-color: $white-color;
	}
	&__btn-comment {
		padding: 12.5px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__icon-attach {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 14px;
		height: 14px;
	}
	&__icon-comment {
		width: 15.33px;
		height: 15.33px;
		display: none;
	}
	&__btn-start-moderation {
		font-family: Arial, sans-serif;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 400;
		font-size: 14px;
		background-color: $primary-color;
		color: $white-color;
		padding: 15px 50px;
		cursor: pointer;
		border: none;
		border-radius: 6px;
	}
}
.footer {
	position: fixed;
	background-color: $primary-blue;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
.footer-mobile-nav {
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	&__item {
		padding: 10px 0 8px 0;
		width: 100%;
		&--active {
			background-color: $active-bg-color;
			border-top: $primary-color solid 2px;
			padding: 8px 0 8px 0;
		}
	}
	&__link {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		color: $border-color;
		font-weight: 700;
		font-size: 8px;
		line-height: 1.3;
		letter-spacing: 2%;
		&--active {
			color: $white-color;
		}
	}
	&__button {
		display: flex;
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: none;
		background-color: rgba(0, 0, 0, 0);
	}
	&__icon {
		width: 16px;
		height: 16px;
		fill: $border-color;
		&--active {
			fill: $primary-color;
		}
	}
	&__text {
		margin-top: 4px;
	}
}
.user {
	&-sidebar {
		&__footer {
			margin-left: 16px;
			margin-top: 223px;
		}
	}
	&-info {
		display: flex;
		width: 122px;
		height: 34px;
		&__avatar {
			width: 32px;
			height: 32px;
		}
		&__details {
			margin-left: 16px;
			height: 16px;
		}
		&__name {
			font-weight: 700;
			font-size: 14px;
			color: $white-color;
			line-height: 1.3;
		}
		&__role {
			font-weight: 400;
			font-size: 12px;
			color: $border-color;
			line-height: 1.3;
		}
	}
	&-ratings {
		margin-top: 20px;
		&__author-img,
		&__user-img {
			height: 12px;
			width: 12px;
		}
		&__author-text,
		&__user-text {
			margin-left: 8px;
			font-weight: 400;
			font-size: 12px;
			line-height: 1.3;
			color: $border-color;
		}
		&__author-container,
		&__user-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 163px;
			span {
				margin-left: 8px;
				font-weight: 700;
				font-size: 12px;
				line-height: 1.3;
				color: $white-color;
			}
		}
		&__user-container {
			margin-top: 8px;
			width: 194px;
		}
	}
}
