$primary-color: #d13980;
$primary-blue: #2e2e54;
$border-color: #d2d4d8;
$active-bg-color: rgba(209, 57, 128, 0.1);
$white-color: #ffffff;
$orange-color: #d08939;
$blue-color: #3b7dc9;
$text-color-light: #69748c;
